<!DOCTYPE html>
<html>

  {% include head.html %}
      
  <body>

    {% include header.html %}

    <div class="page-content">
      <div class="wrapper">
        {{ content }}
      </div>
    </div>

    {% include footer.html %}

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js"></script>
    <script src="{{ site.baseurl }}/js/jquery.masonry.min.js"></script>
    <script src="{{ site.baseurl }}/js/jquery.history.js"></script>
    <script src="{{ site.baseurl }}/js/js-url.min.js"></script>
    <script src="{{ site.baseurl }}/js/jquerypp.custom.js"></script>
    <script src="{{ site.baseurl }}/js/gamma.js"></script>
    <script type="text/javascript">
      
      $(function() {

        var GammaSettings = {
            // order is important!
            viewport : [ {
              width : 1200,
              columns : 5
            }, {
              width : 900,
              columns : 4
            }, {
              width : 500,
              columns : 3
            }, { 
              width : 320,
              columns : 2
            }, { 
              width : 0,
              columns : 2
            } ]
        };

        Gamma.init( GammaSettings, fncallback );
  

        function fncallback() {

          $( '#loadmore' ).show().on( 'click', function() {

            ++page;
            var newitems = items[page-1]
            if( page <= 1 ) {
              
              Gamma.add( $( newitems ) );

            }
            if( page === 1 ) {

              $( this ).remove();

            }

          } );

        }

      });

    </script> 

  </body>

</html>
